{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="{% static 'css/home.css' %}">
    <title>Document</title>
</head>
<body>
    <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Dolorum, at earum beatae quibusdam consequuntur fuga voluptate praesentium vitae accusantium dignissimos voluptas iusto nam voluptates fugit eum quasi, dolorem tenetur est.</p>
    <img src="{% static 'images/1.jpg' %}" alt="">  



</body>
</html>